.button {
  height: 2.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1.16rem;
  line-height: 1.1rem;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 0.4s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  opacity: 0.8;
}

.button:disabled {
  cursor: none;
  background-color: var(--disabled-button-color);
  color: var(--disabled-button-color);
}
