.receiveMessage {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.receiveMessage::after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}
