.wrapper {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/png/background.png");
}

.messageContainer {
  padding: 0 2rem;
  height: 100%;
  overflow: auto;
  margin-bottom: 0.5rem;
}

.messageContainer::-webkit-scrollbar {
  width: 0.25rem;
}
.messageContainer::-webkit-scrollbar-track {
  background: var(--scroll-color-track);
  border-radius: 0.5rem;
  margin: 0.25rem 0 0.25rem 0;
}
.messageContainer::-webkit-scrollbar-thumb {
  background: var(--scroll-color-thumb);
  border-radius: 0.5rem;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.875rem;
  background-color: var(--form-background-color);
  padding: 0.5rem 3.125rem;
}

.messageButton {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--secondary-button-color);
  color: var(--secondary-text-color);
}

.sendMessage {
  background: var(--send-message-color);
  border-radius: 0.3125rem 0rem 0.3125rem 0.3125rem;
  float: right;
}

.sendMessage::after {
  border-width: 0rem 0rem 0.625rem 0.625rem;
  border-color: transparent transparent transparent var(--send-message-color);
  top: 0;
  right: -0.625rem;
}

.receiveMessage {
  background: var(--receive-message-color);
  border-radius: 0rem 0.3125rem 0.3125rem 0.3125rem;
  float: left;
}

.receiveMessage::after {
  border-width: 0rem 0.625rem 0.625rem 0rem;
  border-color: transparent var(--receive-message-color) transparent transparent;
  top: 0;
  left: -0.625rem;
}
