.form {
  width: 37rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  padding: 1.875rem;
  background-color: var(--form-background-color);
  color: var(--secondary-text-color);
  box-shadow: 0rem 0rem 1.25rem var(--black-color);
  border-radius: 1.875rem;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
}

.title {
  align-self: center;
  margin-bottom: 0.75rem;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 0.625rem;
  margin-bottom: 0.5rem;
}

.loginButton {
  align-self: center;
  width: 15.625rem;
  background-color: var(--secondary-button-color);
  color: var(--secondary-text-color);
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: 900;
  color: var(--link-color);
}
