.sendMessage {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.sendMessage::after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}
