.message {
  color: #000;
  clear: both;
  line-height: 1.125rem;
  font-size: 0.9375rem;
  padding: 0.5rem;
  position: relative;
  margin: 0.5rem 0;
  max-width: 85%;
  word-wrap: break-word;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
